# Исключить все файлы и папки в директории data/raw/
data/raw/
data/processed/

# Исключить все файлы и папки в директории models/
models/

# Исключить файлы, созданные инструментами управления зависимостями
.venv/
venv/
env/
ENV/
.env

.ipynb_checkpoints


__pycache__/
